<app-places-container title="Your Favorite Places">
      <!-- below if is to just display a loading text only and places it will display the data when available  -->
      @if (isFatching() && !error()) {
        <p class="fallback-text">Fetching favourite places...</p>
      }
      @if (error()) {
        <p class="fallback-text">{{error()}}</p>
      }
      @if (places()) {
      <app-places [places]="places()!" (selectPlace)="onRemovePlaces($event)"/>
      } @else if (places().length === 0) {
      <p class="fallback-text">Unfortunately, no places could be found.</p>
      }
</app-places-container>
