<app-places-container title="Available Places">
    <!-- below if is to just display a loading text only and places if will display the data when available  -->
  @if (isFatching() && !error()) {
    <p class="fallback-text">Fetching available places...</p>
  }
  @if (error()) {
    <p class="fallback-text">{{error()}}</p>
  }
  @if (places()) {
  <app-places [places]="places()!" (selectPlace)="onSelectPlace($event)"/>
  } @else if (places()?.length === 0) {
  <p class="fallback-text">Unfortunately, no places could be found.</p>
  }
</app-places-container>
